@import "tailwindcss";

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer components {
	.btn-primary {
		@apply bg-yellow-400 hover:bg-yellow-500 text-black font-semibold px-8 py-4 rounded-full transition-all duration-300 shadow-lg hover:shadow-xl;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
